In [141]:
## Regression problem statement -- output is salary of employees (continuous values)

import pickle
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,LabelEncoder,OneHotEncoder

In [142]:
data=pd.read_csv('Churn_Modelling.csv')
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [143]:
data=data.drop(['RowNumber','CustomerId','Surname'],axis=1)

In [144]:
## Encode categorical variable
label_encoder_gender=LabelEncoder()
data['Gender']=label_encoder_gender.fit_transform(data['Gender'])
data  
## Female-0, Male-1

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,1,39,5,0.00,2,1,0,96270.64,0
9996,516,France,1,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,0,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,1,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,0,28,4,130142.79,1,1,0,38190.78,0

In [145]:
##Onehot encode 'Geography' 
##Can't use LabelEncoder because the categories aren't binary, there are more than 2 categories, so 0,1,2 so the model will interpret it as Germany>France>Spain, which is an absurd assumption, hence here we need one hot encoding

from sklearn.preprocessing import OneHotEncoder
onehotgeo=OneHotEncoder(sparse_output=False) ## Won't give sparse matrix -- matrix with mostly zeros and few non-zeros, sparse matrix stores the positions of non-zero values onl to save memory
geoenc=onehotgeo.fit_transform(data[['Geography']]) ## Always double bracket as 2D matrix mandatory
col=onehotgeo.get_feature_names_out()
geo_df=pd.DataFrame(geoenc,columns=col)
geo_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [146]:
## Combine one hot encoded columsn with the original data

data=pd.concat([data.drop('Geography',axis=1),geo_df],axis=1)

In [147]:
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [148]:
# ✅ Import necessary libraries
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

# ✅ Split dataset into independent (X) and dependent (Y) features
X = data.drop('EstimatedSalary', axis=1)  # Features used to predict (e.g., age, salary, credit score)
Y = data['EstimatedSalary']               # Target variable (whether the customer exited or not)

# ✅ Split the data into training and testing sets
# test_size=0.2 → 20% of data will be used for testing
# random_state=42 → sets a seed so the same random split happens every time (for reproducibility)
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=42)

# ✅ Feature Scaling
# ⚠️ Why scale? Many ML models are sensitive to the scale of features.
#    For example, 'Age' might range from 18 to 100, while 'Balance' might go up to 1,000,000.
#    Models like logistic regression, SVM, neural networks, and KNN can give undue importance
#    to features with larger numerical values.

# 🎯 Intuition:
#    Imagine a race between a swimmer, runner, and cyclist—but you measure them in different units (laps, km, pedal strokes).
#    It's unfair unless you bring them all to the same unit.
#    Similarly, we scale all features to the same standard scale (mean = 0, std = 1) so the model can treat them equally.

# ✅ StandardScaler standardizes each feature by removing the mean and scaling to unit variance
scaler = StandardScaler()

# Fit the scaler on training data and transform it
X_train = scaler.fit_transform(X_train)

# Use the same scaler (trained on training data) to transform test data
X_test = scaler.transform(X_test)
X_train.shape ## (a,b) -- a is number of rows and b is number of input features
# ⚠️ Note: Never fit the scaler on test data — this avoids data leakage.

(8000, 12)

In [149]:
import pickle
# Load the saved LabelEncoder for 'Gender'
with open('label_encoder_gender.pkl', 'rb') as file:
    label_encoder_gender = pickle.load(file)

# Load the saved OneHotEncoder for 'Geography'
with open('onehot_encoder_geo.pkl', 'rb') as file:
    onehotgeo = pickle.load(file)

with open('scalerreg.pkl','wb') as file:
    pickle.dump(scaler,file)

In [150]:
## ANN Regression problem statement
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [151]:
model=Sequential([
    Dense(64,activation='relu',input_shape=(X_train.shape[1],)),    ## First hidden layer connected to input
    Dense(32,activation='relu'),  ## Second hidden layer
    Dense(1)  ## Output layer for regression
])

In [152]:

opt=tf.keras.optimizers.Adam(learning_rate=0.01) ## many optimizers are there apart from Adam
lo=tf.keras.losses.MeanAbsoluteError()

In [153]:
model.compile(optimizer=opt,loss=lo,metrics=['mae'])

In [154]:
model.compile(optimizer='adam',loss='mean_absolute_error',metrics=['mae'])

In [155]:
model.summary()

Model: "sequential_7"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_21 (Dense)            (None, 64)                832

 dense_22 (Dense)            (None, 32)                2080

 dense_23 (Dense)            (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [156]:
"""
📌 SETTING UP TENSORBOARD IN KERAS / TENSORFLOW — FULL INTUITION WITH CODE AND COMMENTS

-------------------------------------------------------
🔹 PURPOSE:
TensorBoard is a visualization tool that lets us monitor the training of our model.
It provides graphs for:
- Loss & accuracy over epochs
- Histograms of weights and biases
- Model graph structure
- Learning rate trends
-------------------------------------------------------
"""

# 🔸 STEP 1: Import necessary modules
from tensorflow.keras.callbacks import TensorBoard, EarlyStopping
import datetime

"""
We import:
- TensorBoard: for logging training stats
- EarlyStopping: (optional) stops training early if no improvement
- datetime: to create unique folder names based on current date & time
"""

# 🔸 STEP 2: Create a unique log directory for TensorBoard using datetime
log_dir = "regressionlogs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")

"""
📍 Intuition Behind datetime:
- datetime.datetime.now() gives the current date and time.
- strftime("%Y%m%d-%H%M%S") formats it as:
    %Y → Year   (e.g., 2025)
    %m → Month  (e.g., 08)
    %d → Day    (e.g., 03)
    %H → Hour   (24hr format)
    %M → Minute
    %S → Second
- So, datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
  might return something like "20250803-225612"
- This makes your log folder: logs/fit20250803-225612
- Each training run has a unique folder → logs don’t overwrite
"""

# 🔸 STEP 3: Initialize TensorBoard callback
tensorboard_callback = TensorBoard(
    log_dir=log_dir,        # where logs will be stored
    histogram_freq=1,       # log histograms every epoch
    write_graph=True,       # log the computational graph
    write_images=False      # optionally log model weights as images
)

In [157]:
"""
📌 EARLY STOPPING IN KERAS / TENSORFLOW — FULL EXPLANATION WITH COMMENTS & GENERAL SYNTAX

🔹 WHAT IS EARLY STOPPING?
EarlyStopping is a built-in Keras callback that:
→ Monitors model performance during training
→ Stops training when it detects no further improvement
→ Optionally restores the model weights from the best epoch

This is useful for:
✅ Preventing overfitting
✅ Saving time and compute
✅ Automatically picking the best version of the model

-------------------------------------------------------
🔹 GENERAL SYNTAX:

EarlyStopping(
    monitor='val_loss',          # Metric to monitor ('val_loss', 'val_accuracy', etc.)
    patience=5,                  # Number of epochs to wait before stopping if no improvement
    restore_best_weights=True,  # Restore model weights from the best epoch
    min_delta=0,                # Minimum change to qualify as an improvement (optional)
    mode='auto',                # 'auto', 'min', or 'max' — auto figures out based on monitored metric
    verbose=1                   # Show logs when training stops (optional)
)

-------------------------------------------------------
🔹 EXAMPLE SETUP:
"""

# 🔸 Import EarlyStopping
from tensorflow.keras.callbacks import EarlyStopping

# 🔸 Define the callback
early_stopping_callback = EarlyStopping(
    monitor='val_loss',          # Stop training when validation loss stops improving
    patience=10,                  # Wait 5 epochs for improvement
    restore_best_weights=True,  # Revert to best model after stopping
    verbose=1                   # Print message when training is stopped
)

"""
-------------------------------------------------------
🔹 USAGE IN TRAINING:
Just pass it as a callback to model.fit()

model.fit(
    X_train, Y_train,
    epochs=100,
    validation_data=(X_test, Y_test),
    callbacks=[early_stopping_callback]
)

-------------------------------------------------------
🔸 MONITOR OPTIONS:
- 'val_loss': Most common, looks at validation loss
- 'val_accuracy': For classification tasks

🔸 PATIENCE:
- Number of epochs to allow for no improvement
- E.g., if patience=5, training stops if no better result in 5 rounds

🔸 RESTORE_BEST_WEIGHTS:
- True = after stopping, model weights will revert to the best epoch
- False = model keeps the weights from the last epoch (not recommended)
"""

"\n-------------------------------------------------------\n🔹 USAGE IN TRAINING:\nJust pass it as a callback to model.fit()\n\nmodel.fit(\n    X_train, Y_train,\n    epochs=100,\n    validation_data=(X_test, Y_test),\n    callbacks=[early_stopping_callback]\n)\n\n-------------------------------------------------------\n🔸 MONITOR OPTIONS:\n- 'val_loss': Most common, looks at validation loss\n- 'val_accuracy': For classification tasks\n\n🔸 PATIENCE:\n- Number of epochs to allow for no improvement\n- E.g., if patience=5, training stops if no better result in 5 rounds\n\n🔸 RESTORE_BEST_WEIGHTS:\n- True = after stopping, model weights will revert to the best epoch\n- False = model keeps the weights from the last epoch (not recommended)\n"

In [158]:
history=model.fit(
    X_train, Y_train,
    epochs=100,
    validation_data=(X_test, Y_test),
    callbacks=[tensorboard_callback,early_stopping_callback]
)

Epoch 1/100
250/250 [==============================] - 1s 2ms/step - loss: 100380.2266 - mae: 100380.2266 - val_loss: 98519.9453 - val_mae: 98519.9453
Epoch 2/100
250/250 [==============================] - 0s 2ms/step - loss: 99622.8047 - mae: 99622.8047 - val_loss: 96970.1172 - val_mae: 96970.1172
Epoch 3/100
250/250 [==============================] - 0s 2ms/step - loss: 96948.1406 - mae: 96948.1406 - val_loss: 93027.1484 - val_mae: 93027.1484
Epoch 4/100
250/250 [==============================] - 0s 2ms/step - loss: 91670.6719 - mae: 91670.6719 - val_loss: 86452.8984 - val_mae: 86452.8984
Epoch 5/100
250/250 [==============================] - 0s 2ms/step - loss: 83970.1797 - mae: 83970.1797 - val_loss: 77985.9766 - val_mae: 77985.9766
Epoch 6/100
250/250 [==============================] - 0s 1ms/step - loss: 74935.9453 - mae: 74935.9453 - val_loss: 69147.2422 - val_mae: 69147.2422
Epoch 7/100
250/250 [==============================] - 0s 2ms/step - loss: 66242.7500 - mae: 66242.7500 - val_loss: 61487.7578 - val_mae: 61487.7578
Epoch 8/100
250/250 [==============================] - 0s 1ms/step - loss: 59273.9375 - mae: 59273.9375 - val_loss: 55984.9805 - val_mae: 55984.9805
Epoch 9/100
250/250 [==============================] - 0s 1ms/step - loss: 54758.8242 - mae: 54758.8242 - val_loss: 52905.0117 - val_mae: 52905.0117
Epoch 10/100
250/250 [==============================] - 0s 1ms/step - loss: 52338.4727 - mae: 52338.4727 - val_loss: 51462.1797 - val_mae: 51462.1797
Epoch 11/100
250/250 [==============================] - 0s 1ms/step - loss: 51185.6406 - mae: 51185.6406 - val_loss: 50909.3516 - val_mae: 50909.3516
Epoch 12/100
250/250 [==============================] - 0s 1ms/step - loss: 50683.5742 - mae: 50683.5742 - val_loss: 50761.6992 - val_mae: 50761.6992
Epoch 13/100
250/250 [==============================] - 0s 1ms/step - loss: 50433.8398 - mae: 50433.8398 - val_loss: 50678.8984 - val_mae: 50678.8984
Epoch 14/100
250/250 [==============================] - 0s 1ms/step - loss: 50290.0898 - mae: 50290.0898 - val_loss: 50637.7852 - val_mae: 50637.7852
Epoch 15/100
250/250 [==============================] - 0s 1ms/step - loss: 50196.4102 - mae: 50196.4102 - val_loss: 50603.6406 - val_mae: 50603.6406
Epoch 16/100
250/250 [==============================] - 0s 1ms/step - loss: 50125.9219 - mae: 50125.9219 - val_loss: 50587.2070 - val_mae: 50587.2070
Epoch 17/100
250/250 [==============================] - 0s 1ms/step - loss: 50069.1797 - mae: 50069.1797 - val_loss: 50571.2422 - val_mae: 50571.2422
Epoch 18/100
250/250 [==============================] - 0s 1ms/step - loss: 50024.0586 - mae: 50024.0586 - val_loss: 50546.2852 - val_mae: 50546.2852
Epoch 19/100
250/250 [==============================] - 0s 1ms/step - loss: 49986.1250 - mae: 49986.1250 - val_loss: 50507.3672 - val_mae: 50507.3672
Epoch 20/100
250/250 [==============================] - 0s 1ms/step - loss: 49950.6172 - mae: 49950.6172 - val_loss: 50504.2695 - val_mae: 50504.2695
Epoch 21/100
250/250 [==============================] - 0s 1ms/step - loss: 49921.8438 - mae: 49921.8438 - val_loss: 50487.9297 - val_mae: 50487.9297
Epoch 22/100
250/250 [==============================] - 0s 2ms/step - loss: 49888.7617 - mae: 49888.7617 - val_loss: 50476.4336 - val_mae: 50476.4336
Epoch 23/100
250/250 [==============================] - 0s 2ms/step - loss: 49865.6289 - mae: 49865.6289 - val_loss: 50454.8125 - val_mae: 50454.8125
Epoch 24/100
250/250 [==============================] - 0s 2ms/step - loss: 49836.2305 - mae: 49836.2305 - val_loss: 50430.1445 - val_mae: 50430.1445
Epoch 25/100
250/250 [==============================] - 0s 2ms/step - loss: 49810.6719 - mae: 49810.6719 - val_loss: 50430.9727 - val_mae: 50430.9727
Epoch 26/100
250/250 [==============================] - 0s 2ms/step - loss: 49788.4766 - mae: 49788.4766 - val_loss: 50416.3008 - val_mae: 50416.3008
Epoch 27/100
250/250 [==============================] - 0s 2ms/step - loss: 49765.9102 - mae: 49765.9102 - val_loss: 50403.2617 - val_mae: 50403.2617
Epoch 28/100
250/250 [==============================] - 0s 2ms/step - loss: 49745.3242 - mae: 49745.3242 - val_loss: 50393.8750 - val_mae: 50393.8750
Epoch 29/100
250/250 [==============================] - 0s 2ms/step - loss: 49727.5312 - mae: 49727.5312 - val_loss: 50391.0430 - val_mae: 50391.0430
Epoch 30/100
250/250 [==============================] - 0s 2ms/step - loss: 49713.3672 - mae: 49713.3672 - val_loss: 50369.1641 - val_mae: 50369.1641
Epoch 31/100
250/250 [==============================] - 0s 2ms/step - loss: 49692.8867 - mae: 49692.8867 - val_loss: 50366.0703 - val_mae: 50366.0703
Epoch 32/100
250/250 [==============================] - 0s 2ms/step - loss: 49677.1758 - mae: 49677.1758 - val_loss: 50371.3984 - val_mae: 50371.3984
Epoch 33/100
250/250 [==============================] - 0s 2ms/step - loss: 49667.7461 - mae: 49667.7461 - val_loss: 50364.7305 - val_mae: 50364.7305
Epoch 34/100
250/250 [==============================] - 0s 2ms/step - loss: 49648.3086 - mae: 49648.3086 - val_loss: 50354.0078 - val_mae: 50354.0078
Epoch 35/100
250/250 [==============================] - 0s 2ms/step - loss: 49635.2070 - mae: 49635.2070 - val_loss: 50359.4414 - val_mae: 50359.4414
Epoch 36/100
250/250 [==============================] - 0s 2ms/step - loss: 49622.7227 - mae: 49622.7227 - val_loss: 50352.5742 - val_mae: 50352.5742
Epoch 37/100
250/250 [==============================] - 0s 2ms/step - loss: 49615.7773 - mae: 49615.7773 - val_loss: 50353.3008 - val_mae: 50353.3008
Epoch 38/100
250/250 [==============================] - 0s 2ms/step - loss: 49598.1992 - mae: 49598.1992 - val_loss: 50349.3594 - val_mae: 50349.3594
Epoch 39/100
250/250 [==============================] - 0s 2ms/step - loss: 49589.1094 - mae: 49589.1094 - val_loss: 50357.5039 - val_mae: 50357.5039
Epoch 40/100
250/250 [==============================] - 0s 2ms/step - loss: 49579.4492 - mae: 49579.4492 - val_loss: 50348.8906 - val_mae: 50348.8906
Epoch 41/100
250/250 [==============================] - 0s 2ms/step - loss: 49571.8164 - mae: 49571.8164 - val_loss: 50356.6172 - val_mae: 50356.6172
Epoch 42/100
250/250 [==============================] - 0s 2ms/step - loss: 49556.8359 - mae: 49556.8359 - val_loss: 50349.0938 - val_mae: 50349.0938
Epoch 43/100
250/250 [==============================] - 0s 2ms/step - loss: 49546.5703 - mae: 49546.5703 - val_loss: 50354.6992 - val_mae: 50354.6992
Epoch 44/100
250/250 [==============================] - 1s 2ms/step - loss: 49540.2109 - mae: 49540.2109 - val_loss: 50350.3828 - val_mae: 50350.3828
Epoch 45/100
250/250 [==============================] - 0s 2ms/step - loss: 49534.6719 - mae: 49534.6719 - val_loss: 50354.7148 - val_mae: 50354.7148
Epoch 46/100
250/250 [==============================] - 0s 2ms/step - loss: 49523.8398 - mae: 49523.8398 - val_loss: 50348.8828 - val_mae: 50348.8828
Epoch 47/100
250/250 [==============================] - 0s 2ms/step - loss: 49519.0234 - mae: 49519.0234 - val_loss: 50348.2734 - val_mae: 50348.2734
Epoch 48/100
250/250 [==============================] - 0s 2ms/step - loss: 49507.3594 - mae: 49507.3594 - val_loss: 50359.0547 - val_mae: 50359.0547
Epoch 49/100
250/250 [==============================] - 0s 2ms/step - loss: 49501.9570 - mae: 49501.9570 - val_loss: 50358.1523 - val_mae: 50358.1523
Epoch 50/100
250/250 [==============================] - 0s 2ms/step - loss: 49494.1211 - mae: 49494.1211 - val_loss: 50356.6328 - val_mae: 50356.6328
Epoch 51/100
250/250 [==============================] - 0s 2ms/step - loss: 49490.0703 - mae: 49490.0703 - val_loss: 50352.5273 - val_mae: 50352.5273
Epoch 52/100
250/250 [==============================] - 0s 2ms/step - loss: 49480.4688 - mae: 49480.4688 - val_loss: 50356.7930 - val_mae: 50356.7930
Epoch 53/100
250/250 [==============================] - 0s 2ms/step - loss: 49473.6992 - mae: 49473.6992 - val_loss: 50367.3906 - val_mae: 50367.3906
Epoch 54/100
250/250 [==============================] - 0s 2ms/step - loss: 49469.8594 - mae: 49469.8594 - val_loss: 50367.5547 - val_mae: 50367.5547
Epoch 55/100
250/250 [==============================] - 0s 2ms/step - loss: 49465.0586 - mae: 49465.0586 - val_loss: 50364.9336 - val_mae: 50364.9336
Epoch 56/100
250/250 [==============================] - 1s 2ms/step - loss: 49457.8008 - mae: 49457.8008 - val_loss: 50380.0391 - val_mae: 50380.0391
Epoch 57/100
223/250 [=========================>....] - ETA: 0s - loss: 49417.0664 - mae: 49417.0664Restoring model weights from the end of the best epoch: 47.
250/250 [==============================] - 1s 2ms/step - loss: 49452.6758 - mae: 49452.6758 - val_loss: 50380.6172 - val_mae: 50380.6172
Epoch 57: early stopping

In [159]:
%load_ext tensorboard

The tensorboard extension is already loaded. To reload it, use:
  %reload_ext tensorboard

In [160]:
%tensorboard --logdir regressionlogs/fit

Reusing TensorBoard on port 6006 (pid 16752), started 1:58:25 ago. (Use '!kill 16752' to kill it.)

In [ ]:
# ================================================================
# WHY regression_model.h5 FAILS ON STREAMLIT CLOUD BUT model.h5 WORKS
# ================================================================

# ✅ CLASSIFICATION MODEL (model.h5)
# ----------------------------------
# - Likely compiled with: loss='binary_crossentropy'
# - This is passed as a **string**, not as a Python object.
# - Keras stores this simply as: { "loss": "binary_crossentropy" }
# - ✅ Streamlit Cloud (TF 2.20, Python 3.13) can easily deserialize this.

# ❌ REGRESSION MODEL (regression_model.h5)
# -----------------------------------------
# - Likely compiled with: loss=tf.keras.losses.MeanAbsoluteError()
# - This is passed as a **class object**, not a string.
# - The HDF5 (.h5) file stores this with config like:
#   {
#     "class_name": "MeanAbsoluteError",
#     "config": {
#         "reduction": "auto",
#         "name": "mean_absolute_error",
#         "fn": "mean_absolute_error"
#     }
#   }
# - ❌ The 'fn' parameter is no longer accepted in recent Keras versions.
# - ❌ So Streamlit Cloud throws: TypeError: __init__() got an unexpected keyword argument 'fn'

# ✅ WHY LOCAL WORKS BUT CLOUD FAILS:
# - Your local TensorFlow/Keras versions are older/more flexible.
# - Streamlit Cloud uses TensorFlow 2.20 and Python 3.13 which enforce strict deserialization rules.

# ================================================================
# ✅ FIX OPTION 1 (Immediate, Safe)
# ================================================================
# In app_reg.py, use:
# model = load_model('regression_model.h5', compile=False)
# - This skips loading the loss function and optimizer
# - Safe to use for prediction/inference (no retraining)

# ================================================================
# ✅ FIX OPTION 2 (Recommended for long-term)
# ================================================================
# 1. Use string-based loss instead of object:
#    model.compile(optimizer='adam', loss='mae')   # instead of MeanAbsoluteError()
#
# 2. Save the model using modern format:
#    model.save('regression_model.keras')          # TensorFlow SavedModel format
#
# 3. Then load it like this:
#    model = tf.keras.models.load_model('regression_model.keras')

# Summary:
# - ✅ model.h5 (classification): works because loss is a string
# - ❌ regression_model.h5: breaks because loss is a class with legacy config
# - ✅ Use `compile=False` or switch to `.keras` to resolve this on Streamlit Cloud

In [161]:
## Evaluate model based on test data
test_loss,test_mae=model.evaluate(X_train,Y_train)
print(f"Train MAE: {test_mae}")
print(f"Train Loss: {test_loss}")

250/250 [==============================] - 0s 1ms/step - loss: 49492.9023 - mae: 49492.9023
Train MAE: 49492.90234375
Train Loss: 49492.90234375

In [162]:
## Evaluate model based on test data
test_loss,test_mae=model.evaluate(X_test,Y_test)
print(f"Train MAE: {test_mae}")
print(f"Train Loss: {test_loss}")

63/63 [==============================] - 0s 1ms/step - loss: 50348.2734 - mae: 50348.2734
Train MAE: 50348.2734375
Train Loss: 50348.2734375

In [163]:
model.save('regression_model.h5')

c:\Users\Harjeet Singh Pannu\Desktop\ANN project\venv\Lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(